header {
    padding: 50px;
    text-align: center;
    font-size: 75px;
    color: black;
    padding-bottom: 50px;
  }

.AccountEdit {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.ProfPic {
    width: 200px;
    height: 200px;
}