* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btn-group.btn-group-sm.btn-block {
    display: none !important;
}