.searchBar {
    width: 80%;
    height: 80px;
    left: 10%;
    position: absolute;
    top: 105%;
    text-align: center;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    border-width: 2px;
}

.catext {
    margin-top: 10px;
}

.shadowhide {
    box-shadow: none !important;
}

.registerbutton {
    background-color: #40916c !important;
}

.registertext {
    color: white !important;
    text-decoration: none !important;
}

.searchBar .h1{
    font-size: 20px;
    color: darkgray;
}