.Home{
    top: 0;
    left: 0;
    width: 100%;
}
.Jimbo{
    background-image: url('../../images/BG.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    font-weight: bold;
    border-radius: 50px;
    opacity: 0.8;
    height: 50vh;
}

.Jimbo h1,p {
    padding: 200px;
    text-align: center;
    color: white;
}