.Background {
    color: red;
}

.dbackground {
    background-color: #ededed;
}

.gbackground {
    background-color: #474747;
}

.fit-gallery {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.fit-rec {
    height: 150px;
}

.img-cover {
    object-fit: cover;
}

.center {
    text-align: center;
}

.square {
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.square img {
    position: absolute;
}

.image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img {
    position:absolute;
}

.normal-text {
    padding: 0px;
    color: black;
    text-align: left;
}